<template>
  <v-container>
    <v-card class="overview-run" v-if="run">
      <v-card-actions>
        <v-list-item>
          <v-list-item-title class="overview-run-title">
            <div class="title">{{run.name}}</div>
            <div class="overline">{{created}}</div>
          </v-list-item-title>
          <!-- ICON + TOOLTIP -->
          <v-spacer></v-spacer>
          Status:
          <v-chip :color="status.color" class="ma-4" label>
            <v-avatar left>
              <v-icon>{{status.icon}}</v-icon>
            </v-avatar>
            {{status.text}}
          </v-chip>
        </v-list-item>
      </v-card-actions>
      <v-card-text>
        <div class="ma-4 rounded grey darken-custom hidden">
          <Error :error="error"></Error>
        </div>
        <v-row>
          <v-col cols="12" sm="6" m="6" lg="6" xl="6">
            <div class="ma-4 mr-1 pa-3 mt-0 state-container rounded passed">
              <v-list-item-title>
                <div class="body-1 inline">
                  <v-icon small class="mr-2">filter_vintage</v-icon>
                  Seeding
                </div>
                <div class="state-status title green--text text--darken-2">PASSED</div>
                <v-btn block small class="px-2 grey darken-3" :to="`/run/${run.id}/seeding`">Details</v-btn>
              </v-list-item-title>
            </div>
          </v-col>
          <v-col cols="12" sm="6" m="6" lg="6" xl="6">
            <div class="ma-4 ml-1 pa-3 mt-0 state-container rounded passed">
              <v-list-item-title>
                <div class="body-1 inline">
                  <v-icon small class="mr-2">account_tree</v-icon>
                  Tests
                </div>
                <div class="state-status title green--text text--darken-2">PASSED</div>
                <v-btn block small class="px-2 grey darken-3" :to="`/run/${run.id}/tree`">Details</v-btn>
              </v-list-item-title>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
  import RunOperator from '../../mixins/run-operator';
	import RunData from '../../mixins/run-data';
	import SeedingData from '../../mixins/seeding-data';
	import Error from "../run/Error";
	export default {
		name: "Details",
		components: {Error},
		mixins: [RunOperator, RunData, SeedingData],
    computed: {
			created() {
				return this.$moment(this.run.created).fromNow();
			},
      status() {
				return {
					icon: (this.broken) ? 'warning' : (this.passed) ? 'check_circle' : 'error',
					color: (this.broken) ? 'orange' : (this.passed) ? 'green' : 'red',
          text: (this.broken) ? 'Broken' : (this.passed) ? 'Passed' : 'Failed'
        }
      },
      seeder() {
				return (this.run) ? this.run.seeder : null;
      },
      seeding() {
				const suites = [];
				if (this.run.seeder.seeds && this.run.seeder.seeds.length > 0)
					suites.push({name: 'Root', data : this.run.seeder});
        for (let s of this.run.suites)
        	if (s.seeder.seeds && s.seeder.seeds.length > 0)
        		suites.push({name: s.suite.name, data: s.seeder});
        return suites
      }
		}
	}
</script>

<style lang="scss">
  @import "../../styles/import";
  .state-container {
    background-color: $grey;
    .state-status {
      text-transform: uppercase !important;
      font-weight: 400 !important;
    }
  }
</style>