<template>
  <v-container>
    <OverviewRun v-for="run in runs" :key="run.id" :run="run"></OverviewRun>
  </v-container>
</template>

<script>
  import { mapGetters } from 'vuex';
  import OverviewRun from "../run/RunOverview";

	export default {
		name: "Overview",
		components: {OverviewRun},
		computed: {
			...mapGetters([
        'runs'
      ])
    },
    mounted() {
      if (!this.$store.getters.initialized)
      	this.$store.dispatch('getRuns');
		}
	}
</script>

<style scoped>

</style>