<template>
  <Gutter>
    <template v-slot:left>
      <div class="ml-4 pr-0 full-height tests-tree">
        <v-container class="full-height pr-2">
          <v-card class="tree full-height hidden">
            <v-toolbar class="elevation-0 tree-header">
              <v-toolbar-title>
                Tree
              </v-toolbar-title>
              <v-spacer></v-spacer>
              <v-text-field class="elevation-0" single-line hide-details filled rounded dense clearable
                            placeholder="Search"
                            clear-icon="clear"
                            append-outer-icon="search"
                            v-model="searchString"
              >
              </v-text-field>
              <v-btn icon>
                <v-icon>apps</v-icon>
              </v-btn>
            </v-toolbar>
            <div class="grey darken-custom pa-2">
              <div class="filters">
                <span class="overline">States:</span>
                <v-chip v-for="(state, index) in states"
                  :key="index"
                  :color="(isActive(index)) ? state.color : 'default'"
                  @click="toggle(index)"
                  class="mx-1"
                  small labeheightl
                >{{state.name}}</v-chip>
                <v-spacer></v-spacer>
                <v-chip class="mx-1" @click="all" small label>All</v-chip>
                <v-chip class="mx-1" @click="none" small label>None</v-chip>
              </div>
            </div>
            <div ref="list" class="tree-list" :class="{ loading: !run }">
              <v-list v-if="run" class="pa-0" dense>
                <VirtualList v-if="flatData.length" :size="list.size" :remain="list.height">
                  <TestTreeListItem v-for="item in flatData" :key="item.id" :item="item"></TestTreeListItem>
                </VirtualList>
                <v-card class="full-height elevation-0 py-4 center grey--text text--darken-1" v-else>
                  Nothing here
                </v-card>
              </v-list>
              <v-progress-circular indeterminate color="white" v-else></v-progress-circular>
            </div>
          </v-card>
        </v-container>
      </div>
    </template>
    <template v-slot:right>
      <div class="mr-4 pl-0 full-height">
        <router-view name="test"></router-view>
      </div>
    </template>
  </Gutter>
</template>

<script>
	import Gutter from "../Gutter";
	import VirtualList from 'vue-virtual-scroll-list';
	import { mapGetters } from 'vuex';
	import TestTreeListItem from "../run/hierarchy/TestTreeListItem";
	export default {
		name: "RunDetails",
		components: {TestTreeListItem, Gutter,  VirtualList},
		data: () => ({
      list: {
      	item: TestTreeListItem,
        size: 40,
        height: 0
      },
      searchString: '',
      suites: [],
      flat: []
    }),
		computed: {
			...mapGetters([
				'states',
        'isActive',
        'isExpanded',
        'enumIsActive',
        'test'
      ]),
      run() {
      	const id = this.$route.params.id;
				return this.$store.getters.run(id);
      },
      flatData() {
				const flat = (suite) => {
					if (this.filter) {
						const tests = suite.tests.filter(t => {
							const data = this.test(this.$route.params.id, t);
							return (this.enumIsActive(data.state) && data.name.search(this.searchString) !== -1);
            });
            const suites = suite.suites.map(flat).flat();
            if (tests.length + suites.length > 0)
            	return [
            		suite.id,
                ...tests,
                ...suites
              ];
            return [];
          } else {
            if (this.isExpanded(suite.id))
            	return [
            		suite.id,
                ...suite.tests.filter(t => {
									return this.enumIsActive(this.test(this.$route.params.id, t).state);
								}),
                ...suite.suites.map(flat).flat()
              ];
            return [suite.id];
          }
        };
				return this.run.__tree.map(flat).flat().map(id => this.test(this.$route.params.id, id));
      },
			filter() {
				return this.searchString && this.searchString.length > 2;
			},
		},
    methods: {
			_select(all = true) {
				this.$store.commit((all) ? 'all' : 'none')
      },
      all() {
				this._select();
      },
      none() {
				this._select(false);
      },
      toggle(id) {
				this.$store.commit('toggle', id);
      },
			calcHeight() {
				this.list.height = this.$refs.list.clientHeight / this.list.size;
      },
    },
		mounted() {
			if (!this.run)
      	this.$store.dispatch('getRun', { id: this.$route.params.id });
      this.calcHeight();
		},
	}
</script>

<style lang="scss">
  .tests-tree {
    .tree {
      display: flex;
      flex-direction: column;
      .tree-header {
        flex-grow: 0;
      }
      .tree-list {
        flex-grow: 1;
        &.loading {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        ::-webkit-scrollbar {
          width:10px
        }
        ::-webkit-scrollbar-track{
          background:#3b3b3b;
        }
        ::-webkit-scrollbar-thumb{
          background: #555555;
          border-radius: 5px;
        }
      }
    }
    .v-chip__content {
      width: 48px;
      justify-content: center;
    }
    .filters {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
  .test, .suite {
    text-decoration: none;
    span {
      display: flex;
      color: white;
      align-items: center;
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: 1rem;
    }
  }
</style>