<template>
  <ExpansionPanel v-model="expanded">
    <template v-slot:header>
      <TitleC class="inline grow">
        <v-icon class="mr-2" small>report</v-icon>
        Error details
        <v-spacer></v-spacer>
        <v-chip label small>{{`Type: ${error.name}`}}</v-chip>
      </TitleC>
    </template>
    <template v-slot:content>
      <div class="error-details grey darken-custom pa-4">
        <div class="pt-2">
          <div v-if="error.stack" class="error-stacktrace pa-2">
            {{stacktrace}}
          </div>
        </div>
      </div>
    </template>
  </ExpansionPanel>
</template>

<script>
	import ExpansionPanel from "../utils/ExpansionPanel";
	import TitleC from "../utils/Title";
	export default {
		name: "Error",
		components: {TitleC, ExpansionPanel},
		props: ['error'],
    data() {
			return {
				expanded: true
      }
    },
    computed: {
			text() {
				return `${this.error.name}: ${this.error.message}`
      },
      stacktrace() {
				return `${this.text}\n${this.error.stack}`
      }
    }
	}
</script>

<style lang="scss">
  .error-details {
    font-size: 16px;
    .error-stacktrace-show {
      cursor: pointer;
    }
    .error-stacktrace {
      font-size: 14px;
      white-space: pre;
    }
  }
</style>