<template>
  <ExpansionPanel>
    <template v-slot:header>
      <TitleC class="inline filter">
        <v-icon small class="mr-2">filter_list</v-icon>
        Filters
        <v-spacer></v-spacer>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <div v-on="on" class="dot-scope dot" :class="{inactive: !filter.scope}"></div>
          </template>
          <span>{{(filter.scope) ? `Scopes specified: ${filter.scope.length}` : "No scopes specified"}}</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <div v-on="on" class="dot-epic dot" :class="{inactive: !filter.epic}"></div>
          </template>
          <span>{{(filter.epic) ? `Epics specified: ${filter.epic.length}` : "No epics specified"}}</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <div v-on="on" class="dot-feature dot" :class="{inactive: !filter.feature}"></div>
          </template>
          <span>{{(filter.feature) ? `Features specified: ${filter.feature.length}` : "No features specified"}}</span>
        </v-tooltip>
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <div v-on="on" class="dot-story dot" :class="{inactive: !filter.story}"></div>
          </template>
          <span>{{(filter.story) ? `Stories specified: ${filter.story.length}` : "No stories specified"}}</span>
        </v-tooltip>
      </TitleC>
    </template>
    <template v-slot:content>
      <div v-if="hasFilter" class="pa-4 grey darken-custom">
        <ChipList :items="filter.scope">Scope:</ChipList>
        <ChipList :items="filter.epic">Epic:</ChipList>
        <ChipList :items="filter.feature">Feature:</ChipList>
        <ChipList :items="filter.story">Story:</ChipList>
      </div>
      <div class="body-2 pa-0 pl-6 grey--text text--darken-1" v-else>
        No filter details
      </div>
    </template>
  </ExpansionPanel>
</template>

<script>
	import TitleC from "../utils/Title";
	import ChipList from "../utils/ChipList";
	import ExpansionPanel from "../utils/ExpansionPanel";
	export default {
		name: "Filter",
    data() {
			return {
				filters: ['scope', 'epic', 'feature', 'story']
      }
		},
		props: ['data'],
    components: { TitleC, ChipList, ExpansionPanel },
    computed: {
			filter() {
				return (this.data) ? {
					scope: (this.data.scope) ? (this.data.scope instanceof Array) ? this.data.scope : [this.data.scope] : null,
					epic: (this.data.epic) ? (this.data.epic instanceof Array) ? this.data.epic : [this.data.epic] : null,
					feature: (this.data.feature) ? (this.data.feature instanceof Array) ? this.data.feature : [this.data.feature] : null,
					story: (this.data.story) ? (this.data.story instanceof Array) ? this.data.story : [this.data.story] : null,
					project_id: (this.data.project_id) ? (this.data.project_id instanceof Array) ? this.data.project_id : [this.data.project_id] : null,
				} : {}
			},
			hasFilter() {
				return (Object.values(this.filter)).some(v => v);
			}
		}
	}
</script>

<style lang="scss">
  .filter {
    flex-grow: 1;
  }
  .dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 6px;
    box-shadow: 0 0 5px 2px rgba(255,255,255, 0.2);
    &.dot-scope {
     background-color: #9575cd !important;
    }
    &.dot-epic {
     background-color: #ba68c8 !important
    }
    &.dot-feature {
     background-color: #f06292 !important;
    }
    &.dot-story {
     background-color: #E53935 !important;
    }
    &.inactive {
     background-color: #3c3c3c !important;
     box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.2);
    }
  }
</style>