<template>
  <v-container fluid>
    <v-layout>
      <v-row>
        <v-col md="6" sm="12">
          <v-card>
            <v-card-subtitle>
              Filters
              <v-icon small>
                filter_list
              </v-icon>
            </v-card-subtitle>
          </v-card>
        </v-col>
        <v-col md="6" sm="12">
          <v-card>
            <v-card-subtitle>
              Seeding
              <v-icon small>
                filter_vintage
              </v-icon>
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
	export default {
		name: "RunConfiguration",
    props: ['config'],
    computed: {
			scope() {
				return 1
      }
    }
	}
</script>

<style scoped>

</style>