<template>
  <v-card class="overview-run">
    <v-card-actions>
      <v-list-item>
        <!-- ICON + TOOLTIP -->
        <v-list-item-icon>
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon :color="icon.color" v-on="on">{{icon.icon}}</v-icon>
            </template>
            <span>{{icon.tooltip}}</span>
          </v-tooltip>
        </v-list-item-icon>
        <!-- ICON + TOOLTIP -->
        <v-list-item-title class="overview-run-title">{{run.name}}</v-list-item-title>
        <!-- ICON + TOOLTIP -->
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-icon small v-on="on" class="mr-2">filter_vintage</v-icon>
          </template>
          Seeding information
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <router-link :to="`/run/${run.id}/tree`" class="no-decoration">
              <v-icon v-on="on" small class="mr-4">account_tree</v-icon>
            </router-link>
          </template>
          Tests tree
        </v-tooltip>
        <v-list-item-action-text>{{created}}</v-list-item-action-text>
        <v-list-item-action>
          <v-btn text small :to="`/run/${run.id}`">
            Details
            <v-icon rigth>chevron_right</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-card-actions>
  </v-card>
</template>

<script>
  import RunData from '../../mixins/run-data';
	const ALLOWED_ERROR = 'MI_NOT_PASSED';
	const TOOLTIPS = {
    passed: 'All tests passed!',
    error: 'Some tests failed!',
    broken: 'Runner fatal exception! Please make sure to fix it!'
  };
	export default {
		name: "OverviewRun",
    mixins: [RunData],
		props: ['run'],
    data: () => ({
      expanded: false,
    }),
    computed: {
			icon() {
				return {
					icon: (this.broken) ? 'warning' : (this.passed) ? 'check_circle' : 'error',
					color: (this.broken) ? 'orange' : (this.passed) ? 'green' : 'red',
					tooltip: (this.broken) ? TOOLTIPS.broken : (this.passed) ? TOOLTIPS.passed : TOOLTIPS.error
				};
			},
    },
	}
</script>

<style lang="scss">
  .overview-run {
    margin: 10px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .overview-run-title {
      flex-grow: 0;
      flex-basis: auto;
    }
  }
</style>