<template>
  <v-container class="test-details pl-2 full-height">
    <v-card v-if="test" class="full-height">
      <v-card-actions>
        <v-list-item>
          <v-list-item-title class="inline">
            <v-chip label small :color="label" class="mr-2">{{test.state}}</v-chip>
            {{test.name}}
            <v-spacer></v-spacer>
            <span v-if="project_id" class="body-2 font-weight-bold grey--text text--lighten-2">
              {{project_id}}
              <v-icon small class="grey--text text--lighten-2 mx-1">lock</v-icon>
            </span>
          </v-list-item-title>
        </v-list-item>
      </v-card-actions>
      <v-card-text class="pa-0">
        <FilterComponent :data="test.filter"></FilterComponent>
        <Error v-if="error" :error="error"></Error>
      </v-card-text>
    </v-card>
    <v-card class="full-height center grey--text text--darken-1" v-else>
      Nothing here
    </v-card>
  </v-container>
</template>

<script>

	import Error from "./Error";
	import FilterComponent from "./Filter";
	const STATES = {
		PASSED: "green",
		FAILED: "red",
		PENDING: "blue"
	};

	export default {
		name: "TestDetails",
		components: {FilterComponent, Error},
		data() {
			return {
				tab: undefined,
      }
    },
    computed: {
			id() {
				return this.$route.params.testId
      },
			test() {
				return this.$store.getters.test(this.$route.params.id, this.id)
			},
			label() {
				return (this.test) ? STATES[this.test.state] : undefined
			},
      error() {
				return (this.test) ? (this.test.error) ? JSON.parse(this.test.error) : null : null;
      },
      project_id() {
				return (this.test && this.test.filter) ? this.test.filter.project_id : null;
      }
		},
    methods: {
			flat(suite, depth = 0) {

      }
    }
	}
</script>

<style lang="scss">
  .test-details .v-tabs-bar {
    height: 36px;
  }
</style>