@import 'import';

.grey.darken-custom {
  background-color: $grey !important;
  border-color: $grey !important;
}
.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.grow {
  flex-grow: 1;
}

.full-height {
  height: 100%
}

.rounded {
  border-radius: 5px;
}
.hidden {
  overflow: hidden;
}

.no-decoration {
  text-decoration: none !important;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}