<template>
  <div class="full-height gutter-container">
    <div class="gutter-column" :style="{ width: `calc(50% + ${left - 3 + delta}px)` }">
      <slot name="left"></slot>
    </div>
    <div class="gutter-picker" @mousedown="start" @mousemove="drag" @mouseup="end">
      <v-icon class="grey--text text--darken-2" small>drag_indicator</v-icon>
    </div>
    <div class="gutter-column" :style="{ width: `calc(50% + ${right - 3 - delta}px)`}">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
	export default {
		name: "Gutter",
    data: function () {
			return  {
				edit: false,
				delta: 0,
        startX: 0,
				left: -6,
        right: -6
      }
    },
    methods: {
			start(e) {
				if (e.button !== 0) return;
				this.edit = true;
				this.startX = e.clientX;
				document.addEventListener('mouseup', this.end);
        document.addEventListener('mousemove', this.drag);
      },
      end(e) {
				document.removeEventListener('mouseup', this.end);
				document.removeEventListener('mousemove', this.drag);
				this.edit = false;
				const delta = e.clientX - this.startX;
				this.left += delta;
				this.right -= delta;
				this.delta = 0;
      },
			drag(e) {
				if (!this.edit) return;
				this.delta = e.clientX - this.startX;
      }
    }
	}
</script>

<style lang="scss">
  .gutter-container {
    display: flex;
    height: 100%;
    .gutter-picker {
      width: 8px;
      cursor: col-resize;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .gutter-column {
      width: calc(50% - 6px);
    }
  }
</style>