<template>
  <v-navigation-drawer app>
    <template v-slot:prepend>
      <v-list-item two-line>
        <v-list-item-avatar>
          <img src="../assets/logo.png">
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>Eve Reporter</v-list-item-title>
          <v-list-item-subtitle>Alpha</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>
    <v-list nav dense>
      <v-list-item v-for="(route, index) in routes" :key="index" :to="route.path">
        <v-list-item-icon>
          <v-icon>{{route.icon}}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{route.title}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    name: "Navigation",
    data: () => ({
      routes: [
        { icon: "home", path: "/", title: "Overview" },
				{ icon: "home", path: "/data", title: "Data" },
				{ icon: "home", path: "/something", title: "Something" }
			]
    })
	}
</script>

<style scoped>

</style>