<template>
  <div :class="[`pl-${item.depth * 2}`]">
    <div v-if="item.suite" @click="$store.commit('toggleSuite', { id: item.id, parentId: item.parent })">
      <v-list-item>
        <v-list-item-title>
          <v-icon small>{{($store.getters.isExpanded(item.id)) ? 'expand_less' : 'expand_more'}}</v-icon>
          {{item.name}}
        </v-list-item-title>
      </v-list-item>
    </div>
    <div v-else>
      <router-link :to="`/run/${$route.params.id}/tree/test/${item.id}`" class="test">
        <v-list-item>
          <v-list-item-title>
            <v-icon class="mx-1 ml-0" small>details</v-icon>
            {{item.name}}
            <v-spacer></v-spacer>
          </v-list-item-title>
          <v-chip label small :color="states[statesMap[item.state]].color" class="test-state">{{item.state}}</v-chip>
        </v-list-item>
      </router-link>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
	export default {
		name: "TestTreeListItem",
    props: ['item'],
    data: () => ({
			statesMap: {
				PASSED: 0,
				FAILED: 1,
				PENDING: 2,
			}
		}),
    computed: {
			...mapGetters([
				'states',
				'isActive'
			]),
		}
	}
</script>

<style scoped>

</style>