<template>
  <div class="chip-list inline">
    <span class="subtitle-2 px-2">
      <slot></slot>
    </span>
    <v-chip-group v-if="items" column>
      <v-chip v-for="(item, index) in list" :key="index" class="ma-0" label small>{{item}}</v-chip>
    </v-chip-group>
    <div class="body-2 grey--text text--darken-1" v-else>
      Not specified
    </div>
  </div>
</template>

<script>
	export default {
		name: "ChipList",
    props: ['items'],
    computed: {
			list() {
				return (this.items instanceof Array) ? this.items : [this.items];
      }
    }
	}
</script>

<style lang="scss">
</style>