<template>
  <div class="expansion-panel">
    <div class="expansion-panel-header inline" @click="toggle">
      <slot name="header"></slot>
      <v-icon class="expansion-panel-icon">{{(expanded) ? 'expand_less' : 'expand_more'}}</v-icon>
    </div>
    <div class="expansion-panel-content" v-if="expanded">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script>
	export default {
		name: "ExpansionPanel",
    props: ['value'],
    data() {
			return {
				expanded: false
      }
    },
    methods: {
			toggle() {
				this.expanded = !this.expanded;
				this.$emit('input', this.expanded);
      }
    },
    mounted() {
		  this.expanded = this.value;
		},
	}
</script>

<style lang="scss">
  .expansion-panel-header {
    cursor: pointer;
  }
  .expansion-panel-icon {
    margin-right: 20px;
  }
</style>